<p>©Copyright {{"now"|date('Y')}}. All Rights Reserved</p>

<script src="{{ site.theme.link }}/static/build/js/vendor/jquery.min.js"></script>
<script src="{{ site.theme.link }}/static/build/js/main.min.js"></script>
